<%- include('partial/header', { title: 'Home Page', page: 'home' }) %>

<h1>WELCOME TO OUR TABLE</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% }); %>   
  </tbody>
</table>

<%- include('partial/footer') %>